h1 {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 2rem; /* Use responsive font size */
  font-family: cursive;
  font-weight: bold;
}

.mainDiv {
  margin-top: 40px;
  padding: 0 20px; /* Add padding for smaller screens */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.file-input {
  margin: 10px 0;
}

.inputs {
  display: flex;
  flex-direction: column; /* Stack input fields vertically on small screens */
  align-items: center; /* Center items horizontally */
}

.text-input,
.textarea-input {
  width: 100%; /* Full width on small screens */
  max-width: 500px; /* Limit width on larger screens */
  height: 60px; /* Fixed height for inputs */
  margin: 10px 0; /* Space between inputs */
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background-color: white;
}

.textarea-input {
  height: 185px; /* Fixed height for textarea */
}

.submit-button {
  height: 60px;
  width: 100%; /* Full width on small screens */
  max-width: 500px; /* Limit width on larger screens */
  margin-top: 20px; /* Space above button */
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background-color: white;
  cursor: pointer; /* Show pointer on hover */
}

.submit-button:disabled {
  background-color: #ccc; /* Change background color when disabled */
  cursor: not-allowed; /* Show not-allowed cursor */
}
